.input-search {
    width: 100%;
    position: relative;
}

.input-search input {
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.342);
    padding: 5px 10px;
    width: 100%;
    color: rgba(0, 0, 0, 0.742);

}

.input-search span {
    position: absolute;
    left: 90%;
    top: 5px;
}
.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: var(--bs-secondary-color);
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: center;
}
.nav-pills {
    /* --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color: #000000;
    --bs-nav-pills-link-active-bg: rgb(255, 255, 255); */
    background-color: rgb(254, 232, 204);
    color: #000000;
    padding: 10px;
}
.nav-pills .nav-link {
    border-radius: 0px;
    padding: 5px 10px;
    color: #000000 !important;
}

.link-active{
    background-color: #ffffff !important;
}