* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:root {
    --grey-primary: #393E46;
    --grey-secondary: #929AAB;
    --white-secondary:  #F7F7F7;
  }

.logo {
    color: var(--grey-primary);
    font-size: 24px;
    font-weight: 400;
}
.logo span{
    color: #000;
    font-weight: 600;
}

/*---------- Navbat start -----------*/
.navbar .nav-link .cart-nbr{
    border-radius: 50%;
    padding-inline: 4px;
    font-size: 10px;
    background-color: var(--grey-secondary);
    font-weight: 600;
}
.bg-navbar{
    background-color: var(--white-secondary) !important;
}
/*---------- Navbat end -------------*/

/*---------- Footer start -------------*/

/*---------- Footer end -------------*/