.product{
    position: relative;
    padding: 3px 0;
}
.product:hover::after{
    position: absolute;
    content: '';
    width: 110%;
    height: 100%;
    border: 1px solid rgba(128, 128, 128, 0.4);
    border-radius: 10px;
    background: none;
    top: 0;
    left: -15px;
    z-index: -1;
}


.product .product_action .btn-add{
    padding: 7px 40px;
    border-radius: 25px;
    border:0.5px #393e4656 solid !important;
}

.product .product_action .btn-love{
    border:none;
    background: none;
}